[submodule "mpv-scripts"]
	path = my-scripts
	url = git@github.com:CogentRedTester/mpv-scripts.git
[submodule "other-scripts/mpv-playlistmanager"]
	path = other-scripts/mpv-playlistmanager
	url = git@github.com:jonniek/mpv-playlistmanager.git
[submodule "other-scripts/mpv-nextfile"]
	path = other-scripts/mpv-nextfile
	url = git@github.com:jonniek/mpv-nextfile.git
[submodule "other-scripts/mpv-menu"]
	path = other-scripts/mpv-menu
	url = git@github.com:jonniek/mpv-menu.git
[submodule "other-scripts/mpv-search-page"]
	path = other-scripts/mpv-search-page
	url = git@github.com:CogentRedTester/mpv-search-page.git
[submodule "other-scripts/mpv-coverart"]
	path = other-scripts/mpv-coverart
	url = https://github.com/CogentRedTester/mpv-coverart
[submodule "other-scripts/mpv-changerefresh"]
	path = other-scripts/mpv-changerefresh
	url = git@github.com:CogentRedTester/mpv-changerefresh.git
[submodule "other-scripts/mpv-webtorrent-hook"]
	path = other-scripts/mpv-webtorrent-hook
	url = git@github.com:noctuid/mpv-webtorrent-hook.git
[submodule "other-scripts/mpv-file-browser"]
	path = other-scripts/mpv-file-browser
	url = git@github.com:CogentRedTester/mpv-file-browser.git
[submodule "other-scripts/mpv-dvd-browser"]
	path = other-scripts/mpv-dvd-browser
	url = git@github.com:CogentRedTester/mpv-dvd-browser.git
